<div id="showcase">
    <div class="section-main container">
        <h1>Cindy Hao</h1>
        <h2>Fun, fresh, and full of confusion</h2>
        <p class="lead hide-on-small">
            Welcome to my 100% hand coded website !! (very sorry if something breaks)
        </p>
    </div>
</div>

<!-- Section 1 -->
<section class="section" id="about">
    <div class="container">
        <h2 class="section-head">
            <img class="portrait" src="/img/self-pic2.JPG" alt="">
        </h2>
        <h3>About Cindy</h3>
        <p class="lead">Computer science and math student at the School of Engineering and Applied Science at the
            University of Pennsylvania!
            As an avid high school debater involved in local campaign work and moot court activities, I always thought
            that I wanted to go pre-law until I got into college and found my love for coding and quantitative material.
            In my free
            time, I enjoy working out, going on
            walks in the city, learning hip-hop, and listening to podcasts (favorites include Freakonomics, Serial
            season 1,
            How I built this, Crime Junkie, and soooo many more).
            Some fun facts: I'm 19 but I'm still deathly afraid of getting my blood drawn, I don't drink,
            my first kiss was with someone not interested in girls, and I've never seen or read Harry Potter..
            This website is entirely coded, with inspiration drawn from various code pens I've come across
        </p>
        <a href="/contact" class="btn btn-primary mb">Get in touch!</a>
        <p class="text-light">Click the button to connect with me :)</p>
    </div>
</section>