<section id="interests">
    <div class="section-inner"> My Art
        {{!-- <h2 class="section-title" style="padding-top: 50px">My Art!</h2> --}}
        <div id="digital-art" class="art-collection">
            <div class="img-container">
                <img src="/img/digital/pengineering.png" class="art-piece digital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/digital/donuts.png" class="art-piece digital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/digital/letteringC.png" class="art-piece digital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/digital/selfie.png" class="art-piece digital-piece" alt="">
            </div>
        </div>
    </div>
</section>