<section id="interests">
    <div class="section-inner"> Digital Art
        {{!-- <h2 class="section-title" style="padding-top: 50px">My Art!</h2> --}}
        <div id="digital-art" class="art-collection">
            <div class="img-container">
                <img src="/img/digital/pengineering.png" class="art-piece digital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/digital/donuts.png" class="art-piece digital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/digital/letteringC.png" class="art-piece digital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/digital/selfie.png" class="art-piece digital-piece" alt="">
            </div>
        </div>
    </div>
    <div class="section-inner"> Real Art
        <div class="art-collection" id="nondigital-art">
            <div class="img-container">
                <img src="/img/nondigital/abstract.jpg" class="art-piece nondigital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/nondigital/abstract2.jpg" class="art-piece nondigital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/nondigital/pistachios.jpg" class="art-piece nondigital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/nondigital/sharpie.jpg" class="art-piece nondigital-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/nondigital/weirdbetter.jpg" class="art-piece nondigital-piece" alt="">
            </div>
        </div>
    </div>
</section>