<section id="testimony">
    <div class="section-inner">
        <div>
            <h2 class="section-title" style="padding-top: 50px">Testimonies: A look at what my peers have to say about me....</h2>
        </div>
        <div>
            <h4>
                "The only person I know who owns airpods and wired earbuds and chooses to
                wear the earbuds"
            </h4>
        </div>
        <div>
            <h4>
                "How can you be Asian and not like rice or boba"
            </h4>
        </div>
        <div>
            <h4>
                "A down to earth bagel lover"
            </h4>
        </div>
        <div>
            <h4>
                "I've literally never heard that sentence being said"
            </h4>
        </div>
        <div>
            <h4>
                "You...you really are something else" (ex after I broke up)
            </h4>
        </div>
    </div>

    <div id="pic-showcase">
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>


</section>