<div class="work-imgs" id="work">
    <div class="section-inner">
        <div class="work-blurb">
            <p>My expertise in computer science currently is focused in web development. Im familiar
                with JS ES6, HTML5, CSS, as well as Node, Express, React, Redux, Bootstrap, databases
                (MongoDB), as well as various other npm modules. Below are a few UI layouts I've designed!
            </p>
        </div>
        <div class="img-row">
            <div class="img-container">
                <img src="/img/work/DoubleMessage1.JPG" class="work-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/work/DoubleMessage2.JPG" class="work-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/work/DoubleMessage4.JPG" class="work-piece" alt="">
            </div>
        </div>
        <div class="img-row">
            <div class="img-container">
                <img src="/img/work/ecommerce1.JPG" class="work-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/work/ecommerce2.JPG" class="work-piece" alt="">
            </div>
            <div class="img-container">
                <img src="/img/work/ecommerce4.JPG" class="work-piece" alt="">
            </div>
        </div>
    </div>

</div>